In [1]:
from __future__ import division
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from scipy.optimize import minimize

df = pd.read_csv('Data/examdata.csv', header = None)
df.rename(columns = {0: 'exam1', 1: 'exam2', 2: 'y'}, inplace = True)
df.head()

       exam1      exam2  y
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [ ]:
fig = plt.figure(figsize = (12, 8))
plt.scatter(df[df['y'] == 0]['exam1'], df[df['y'] == 0]['exam2'],
            label = 'Not admitted', color = 'yellow', edgecolor = 'black')
plt.scatter(df[df['y'] == 1]['exam1'], df[df['y'] == 1]['exam2'],
            label = 'Admitted', marker = '+', color = 'black')
plt.xlabel('Exam 1 score')
plt.ylabel('Exam 2 score')
plt.legend(loc = 'upper right')
plt.title('Score')